<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lock Up Self Storage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat-widget.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/chat-widget.css"> -->
</head>
<body>
    <div class="content">
        <!-- Imagen de un sitio -->
        <img src="{{ url_for('static', filename='assets/the-lock-up-home-cover.jpg') }}" alt="Cover Image" class="cover-image">
        <!-- <img src="../static/assets/the-lock-up-home-cover.jpg" alt="Cover Image" class="cover-image"> -->
    </div>
    
    <script src="{{ url_for('static', filename='js/chat-widget.js') }}"></script>
    <!-- <script src="../static/js/chat-widget.js"></script> -->
</body>
</html>
